<form
    method="post"
    style="
    flex-direction: column;
"
>
    <h1>All signers from {{city}} </h1>
    <ul
        style="
    font-size: 20px;
"
    >
        {{#rows}}
            <li>
                {{first}}
                {{last}}
                {{#if age}}
                    {{age}}
                {{/if}}
            </li>
        {{/rows}}
    </ul>
</form>