<form method="post">
    <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email adress"
    />
    <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
    />
    <button type="submit">Login</button>
</form>