<h1>Profile page</h1>
<form method="post">
    <input
        type="number"
        name="age"
        id="age"
        placeholder="Age"
        min="16"
        max="125"
    />
    <input
        type="text"
        name="city"
        id="city"
        placeholder="Please enter your city"
    />
    <input type="url" name="homepage" id="homepage" placeholder="http://" />
    <button type="submit">Continue</button>
    <h2>{{error}}</h2>
</form>