<h1>Profile page</h1>
<form method="post">
    <input
        type="number"
        name="age"
        id="age"
        placeholder="Please enter your"
        min="16"
        max="125"
    />
    <input type="text" name="city" id="city" placeholder="Please enter your" />
    <input
        type="url"
        name="homepage"
        id="homepage"
        placeholder="Please enter your"
    />
    <button type="submit">Continue</button>
</form>