{{! <div id="register_img"><img src="/images/register.jpg" alt="" /></div> }}
<body id="register_body">

    <form id="register_form" method="post">
        <input
            type="text"
            name="first"
            id="first"
            placeholder="Enter your first name"
        />
        <input
            type="text"
            name="last"
            id="last"
            placeholder="Enter your last name"
        />
        <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email adress"
        />
        <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
        />
        <button type="submit">signup</button>

    </form>
    <div><span>DO you have already registerd?</span>
        <a href="/login"><button>login</button></a></div>
    <div class="petition_info">
        <h2>We want a doggy day-care, now !!</h2>
        <div class="info">
            <p>
                Our doggies have to stay at home all day while many of us work.
                There are plenty of day-cares for humans, but the few day-care
                centres for dogs are crowded! Every dog should have a right to
                have a place at a centre that takes care of the dog while the
                owner is at work earning money for dog food! What do we want?
                DOGGY DAY-CARE !! When do we want it? NOW! Sign here !</p>
        </div>
    </div>
</body>