<h3>DO you have already registerd?</h3>
<button>Login</button>
<form method="post">
    <input
        type="text"
        name="first"
        id="first"
        placeholder="Enter your first name"
    />
    <input
        type="text"
        name="last"
        id="last"
        placeholder="Enter your last name"
    />
    <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email adress"
    />
    <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
    />
    <button type="submit">signup</button>
</form>