<body id="thanks_body">

    <div id="thanks_page">

        <h2>Thank you for your support 🌺</h2>
        <img
            src="{{signature}}"
            alt="signature"
            style="background-color: antiquewhite; border-radius: 50%"
        />
        <a
            style="
    font-size: 20px;
    text-decoration: none;
    border-bottom: solid;"
            href="/signers"
        >See all
            {{countSigners}}
            signers 😃
        </a>
    </div>

    <form
        method="post"
        style="
    
    justify-content: center;"
    >
        <button
            style="
    padding: 10px;
"
            name="deleteSignature"
        >Delete signature</button>
        <button
            name="editProfile"
            style="
    padding: 10px;
"
        >Edit profile</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="./script.js"></script>
</body>